



body {
    font-family: 'Indie Flower', cursive;
    font-size: x-large;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.covered {
    height: 40px;
    width: 40px;
    background-image: url('Assets/Cellcover-image.png');
    background-size: cover;
    color: rgba(0,0,0,0);
    text-align: center;
}

.flagged {
    height: 40px;
    width: 40px;
    background-image: url('Assets/Flag-image.jpg');
    background-size: cover;
    color: rgba(0,0,0,0);
    text-align: center;
}

.questioned {
    height: 40px;
    width: 40px;
    background-image: url('Assets/Question-image.png');
    background-size: cover;
    color: rgba(0,0,0,0);
    text-align: center;
}

.mined {
    height: 40px;
    width: 40px;
    background-image: url('Assets/Mine-image.png');
    background-size: cover;
    color: rgba(0,0,0,0);
    text-align: center;
    background-color: #c5e8e5;;
}

.exploded {
    height: 40px;
    width: 40px;
    background-image: url('Assets/Mine-image.png');
    background-size: cover;
    color: rgba(0,0,0,0);
    text-align: center;
    background-color: red;
}

.value-0 {
    height: 40px;
    width: 40px;
    color: rgba(0,0,0,0);
    text-align: center;
    background-color: #c5e8e5;;
}

.value-1 {
    height: 40px;
    width: 40px;
    text-align: center;
    color: blue;
    background-color: #c5e8e5;
}

.value-2 {
    height: 40px;
    width: 40px;
    text-align: center;
    color: green;
    background-color: #c5e8e5;;
}

.value-3 {
    height: 40px;
    width: 40px;
    text-align: center;
    color: red;
    background-color: #c5e8e5;;
}

.value-4 {
    height: 40px;
    width: 40px;
    text-align: center;
    color: purple;
    background-color: #c5e8e5;;
}

.value-5 {
    height: 40px;
    width: 40px;
    text-align: center;
    color: maroon;
    background-color: #c5e8e5;;
}

.value-6 {
    height: 40px;
    width: 40px;
    text-align: center;
    color: turquoise;
    background-color: #c5e8e5;;
}

.value-7 {
    height: 40px;
    width: 40px;
    text-align: center;
    color: black;
    background-color: #c5e8e5;;
}

.value-8 {
    height: 40px;
    width: 40px;
    text-align: center;
    color: gray;
    background-color: #c5e8e5;;
}

#reload-button {
    background-color: lightblue;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-family: 'Indie Flower', cursive;
  }






  /* 
.bug {
    position: absolute;
    left:300px; top:500px;
    height: 30px;
    transform: rotate(20deg);
} */



  
/* .big-text-20 {font-size: 20px;}
.big-text-21 {font-size: 21px;}
.big-text-22 {font-size: 22px;}
.big-text-23 {font-size: 23px;}
.big-text-24 {font-size: 24px;}
.big-text-25 {font-size: 25px;}
.big-text-26 {font-size: 26px;}
.big-text-27 {font-size: 27px;}
.big-text-28 {font-size: 28px;}
.big-text-29 {font-size: 29px;}
.big-text-30 {font-size: 30px;}
.big-text-31 {font-size: 31px;}
.big-text-32 {font-size: 32px;}
.big-text-33 {font-size: 33px;}
.big-text-34 {font-size: 34px;}
.big-text-35 {font-size: 35px;}
.big-text-36 {font-size: 36px;}
.big-text-37 {font-size: 37px;}
.big-text-38 {font-size: 38px;}
.big-text-39 {font-size: 39px;}
.big-text-40 {font-size: 40px;} */




